.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 140;
    background-color: rgba(0, 0, 0, 0.507);
    display: none;
    transition: all .7s;

    &--open {
        display: block;
    };
}

