.scroll-up {
    position: fixed;
    bottom: 1.5rem;
    right: -2500px;
    height: 3.5rem;
    width: 3.5rem;
    background-color: var(--color-red);
    z-index: 3;
    transition: all 1s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 50%;
    font-size: 2rem;
    opacity: 0;

    &--open {
        right: 1.5rem;
        opacity: 1;

        @include forLargeScreens(900) {
            bottom: 2rem;
            right: calc((100vw - 124rem) / 5);
        }

        span {
            clip-path: polygon(50% 35%, 95% 100%, 50% 90%, 5% 100%);
            background-color: #fff;
            height: 1.75rem;
            width: 1.75rem;
            transform: translateY(-.4rem);
        }
    }

}